<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mapa Social</title>

    <!-- Bootstrap Core CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/mapasocial.css') }}">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

    <!-- Custom CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/logo-nav.css') }}">

</head>

<body>

    <!-- Page Content -->
    <div class="container">
      <center>
      <h1> xiiiiii 404! Que #@#$$@$@#$#@$@#!</h1>
    </center>
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mapasocial.js') }}"></script>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script type="text/javascript">
        initmap();
    </script>
</body>

</html>
